.card-title{
    font-family: serif;
    /* font-size: 3rem; */
}
.card-text{
    font-family: serif;
    font-size:large;
}
.viku{
    background-position: center;
    /* background-size: cover; */
    height: 28rem;
}
